



/* News.css */

/* News.css */

.container {
    margin-top: 20px;
    
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .col-md-4 {
    flex-basis: calc(33.33% - 20px); /* Adjust based on the number of columns you want */
    margin-bottom: 20px;
  }
  
  /* Media query for responsiveness */
  @media (max-width: 992px) {
    .col-md-4 {
      flex-basis: calc(50% - 20px);
    }
  }
  
  @media (max-width: 768px) {
    .col-md-4 {
      flex-basis: calc(100% - 20px);
    }
  }
  
  /* Exclude hamburger menu from grid layout */
  .navbar-toggler {
    flex: 0 0 auto;
  }

  


  